body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    scroll-x: hidden;
    margin: 0;
}


/* COLORS  */
:root {
    --primary: #0D205A;
    --secondary: #123293;
    --dark: #393939;
    --light: #ffffff;
    --accent: #FF6701;
    --accent2: #FFBD59;
    }

/* BUTTON CSS */
.btn{
    padding: .8rem 1.3rem;
    display: inline-block;
}
.orange{
    font-size:1.2rem;
    color: var(--light);
    background-color: var(--accent);
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid transparent;
}

.orange:hover{
    background-color: var(--light);
    color: var(--accent);
}


.outline{
    font-size:1.2rem;
    color: var(--light);
    background-color: transparent;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid var(--light);
}

.outline:hover{
    background-color: var(--light);
    color: var(--primary);
}

.blue{
    font-size:1rem;
    color: var(--light);
    background-color: var(--primary);
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid transparent;
    padding: .8rem 5rem;
}

.blue:hover{
    background-color: var(--accent);
}

/* CONTAINER */
.container{
    padding: 1rem 1.5rem;
    max-width: 120rem;
    margin: 0 auto;
}

/* FOR REMOVING THE BLANK SPACE ON THE SIDE  */
@media screen and (max-width: 430px) {
    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}

/* =========== HEADER SECTION =========== */

.header-mobile{
    display: none;
}

.header-top{
    background-color: var(--light);
}

.header-top-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top-branding img{
    width: 12rem;
}

.header-top-contacts{
    display: flex;
    align-items: start;
}

.header-top-contacts-items{
    display: flex;
    align-items: start;
    gap: .5rem;
    height: 4rem;
    padding: 0 1rem;
}

.header-top-contacts-items:first-child{
    width: 18rem;
}

.header-top-contacts-items:nth-child(2){
    border-right: 1px solid var(--dark);
    border-left: 1px solid var(--dark);
}

.header-top-contacts-icon i{
    font-size: 1.2rem;
    padding-right: .5rem;
    color: var(--primary);
}

.header-top-contacts-text h4{
    margin: 0 0 .3rem 0;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: var(--primary);
}

.header-top-contacts-text p{
    font-size: .8rem;
    color: var(--primary);
}

.header-bottom{
    background-color: var(--primary);
    position: fixed;
    width: 100%;
    transition: .10s ease;
    z-index: 2;
}

.header-bottom.top{
    top: 0;
    transition: .10s ease;
}

.header-bottom-wrapper{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
}

.header-bottom-nav{
    list-style: none;
    display: flex; 
    align-items: center;
    gap: 1.5rem;
    padding: 0;
}

.header-bottom-nav li a{
    text-decoration: none;
    color: var(--light);
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: .5rem;
    border-bottom: 3px solid transparent;
    transition: .5s ease;
}

.header-bottom-nav li a:hover{
    border-bottom: 3px solid var(--accent);
}


@media screen and (max-width: 430px){
    .header-top, .header-bottom{
        display: none;
    }

    .header-mobile{
        display: unset;
    }

    .header-mobile{
        background-color: var(--light);
        position: relative;
    }

    .header-mobile__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile-branding img{
        width: 10rem;
    }

    .header-mobile-nav{
        position: absolute;
        background: var(--dark);
        list-style: none;
        /* padding: 1.5rem; */
        top: 6.9rem;
        max-height: 0;
        overflow: hidden;
        right: 0;
        width: 70%;
        height: 100vh;
        transition: .5s ease;
    }

    .header-mobile-nav.open{
        max-height: 20rem;
        transition: .5s ease;
    }

    .header-mobile-nav li{
        margin-bottom: 1.5rem;
        padding-top: 1.5rem;
        padding-bottom: .5rem;
        border-left: 2px solid transparent;
        transition: .5s ease;
    }

    .header-mobile-nav li:hover a{
        padding-left: 1.5rem;
        border-left: 2px solid var(--accent);
        color: var(--accent);
        transition: .5s ease;
    }

    .header-mobile-nav li a{
        color: var(--light);
        text-decoration: none;
        font-size: 1.2rem;
        text-transform: uppercase;
    }
    
    .toggle__menu span{
        width: 2.5rem;
        height: .3rem;
        display: block;
        margin-top: .3rem;
        border-radius: 5rem;
        transition: .5s ease;
        background-color: var(--primary);
    }

    .toggle__menu{
        display: block;
    }

    .toggle__menu.open span:first-child{
        transform: translate(0, 12px) rotate(225deg);
        transition: .5s ease;
    }

    .toggle__menu.open span:nth-child(2){
        opacity: 0;
        transition: .5s ease;
    }

    .toggle__menu.open span:last-child{
        transform: translate(0, -7px) rotate(-225deg);
        transition: .5s ease;
    }

    .toggle__menu:hover{
        cursor: pointer;
    }

}



/* =========== BANNER SECTION =========== */

#roll-up{
    position: fixed;
    background-color: var(--primary);
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 1rem 1.2rem;
    right: 1rem;
    bottom: 3.5rem;
    z-index: 5;
    transition: .5s ease;
    opacity: 50%
}

#roll-up:hover{
    background-color: var(--accent);
    transition: .5s ease;
    opacity: 100%
}

#roll-up i {
    color: var(--light);
    font-size: 1.2rem;
} 

html {
    scroll-behavior: smooth
}


.banner{
    padding-top: 10rem;
    height: 90vh;
    background-image: url('./img/banner bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.banner_left_text_title{
    color: var(--light);
    font-size: 4rem;
    text-align: center;
    font-weight:600;
    margin-bottom: 2rem;
}

.banner_left_text_title span{
    display: block;
}

.banner_left_text_contents p{
    color: var(--light);
    font-size: 1rem;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.banner_left_btn{
    display: flex;
    gap: 1.5rem;
}


@media screen and (max-width: 430px){

    .banner{
        height: 45rem;
    }

    .banner__wrapper{
        display: flex;
        flex-direction: column;
    }

    .banner_left_text_title{
        font-size: 2.5rem;
        text-align: center;
    }
    
    .banner_left_text_contents{
        text-align: center;
        margin: 3rem 0;
    }

    .banner_left_text_contents p{
        text-align: justify;
        width: 90%;
        line-height: 1.5;
    }
    
    .banner_left_btn{
        display: flex;
        gap: 1.5rem;
    }

    .banner_left_btn a{
        font-size: 1rem;
    }
    

    .banner_left_btn{
        display: flex;
        justify-content: center;
    }
}


/* =========== ABOUT US SECTION =========== */
.about-us{
    padding: 5rem 0;
    background-color: var(--light);
}

.about-us-title{
    font-size: 3rem;
    color: var(--primary);
    font-weight: 100;
}

.about-us-title span{
    font-weight: 700;
}

.about-us-subtitle{
    font-size: 2rem;
    color: black;
}

.about-us-text p{
    color: var(--dark);
    font-size: 1.10rem;
    line-height: 1.2;
    text-align: justify;
}


.about-us-text p:last-child{
    margin-top: 1rem;
}

@media screen and (max-width: 430px){
    .about-us{
        padding: 2rem 0;
    }
    
    .about-us-title{
        font-size: 2.5rem;
        text-align: left;
    }
    
    .about-us-title span{
        display: block;
    }
    
    .about-us-subtitle{
        font-size: 1.5rem;
        text-align: left;
    }
}


/* =========== GOALS SECTION =========== */
.goals{
    padding: 3rem 0;
    background-color: var(--light);
}

.goals-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: start;
    align-items: left;
}

.goals-card{
    display: flex;
    justify-content: left;
    align-items: start;
    gap: 8rem;
}

.vision-card{
    justify-content: right;
}

.goals-img img{
    width: 35rem;
}

.goals-img{
    padding-left: 5rem;
}

.vision-img{
    padding-right: 5rem;
}

.goals-text{
    margin-top: 5rem;
}

.goals-text h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 1.5rem;
}

.goals-text p{
    font-size: 1.3rem;
    color: var(--dark);
    font-style: italic;
    width: 22rem;
    line-height: 1.5;
}

@media screen and (max-width: 430px) {
    .goals{
        padding: 2rem 0;
    }
    
    .goals-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    
    .vision-card{
        justify-content: unset;
    }
    
    .goals-img img{
        width: 20rem;
    }
    
    .goals-img{
        padding-left: 0;
    }
    
    .vision-img{
        padding-right: 0;
        order: -1;
    }
    
    .goals-text{
        margin-top: 0;
    }
    
    .goals-text h3{
        font-size: 2rem;
        text-align: center;
    }
    
    .goals-text p{
        font-size: 1rem;
        width: fit-content;
        text-align: justify;
        text-indent: 2rem;
    }
}

/* =========== BRAND LOGO SECTION =========== */
.brandlogo{
    padding: 3rem 0;
    position: relative;
    background-color: var(--light);
}

.brandlogo-img{
    display: flex;
    justify-content: center;
}

.brandlogo-img img{
    width: 60rem;
}

.brandlogo-bg-1{
    position: absolute;
    left: 0;
    top: 10rem;
}

.brandlogo-bg-1 img{
    width: 15rem;
}

.brandlogo-bg-2{
    position: absolute;
    right: 0;
    top: 30%;
}

.brandlogo-bg-2 img{
    width: 15rem;
}

.brandlogo-bg-3{
    position: absolute;
    left: 0;
    bottom: 3rem
}

.brandlogo-bg-3 img{
    width: 15rem;
}

@media screen and (max-width: 430px){
    
    .brandlogo-img img{
        width: 25rem;
    }
    
    .brandlogo-bg-1{
        top: 5rem;
    }
    
    .brandlogo-bg-1 img{
        width: 5rem;
    }
    
    .brandlogo-bg-2{
        top: 30%;
    }
    
    .brandlogo-bg-2 img{
        width: 5rem;
    }
    
    .brandlogo-bg-3{
        bottom: 9rem
    }
    
    .brandlogo-bg-3 img{
        width: 5rem;
    }
}


/* =========== SERVICES SECTION =========== */
.services{
    padding: 3rem 0;
    background-color: var(--light);
}

.services__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.services_title{
    font-size: 4rem;
    color: var(--accent);
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 2rem;
}

.services-items{
    padding: 1.5rem;
    max-width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.services-items-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-items-top img{
    width: 13rem;
    height: 15rem;
}

.services-items-top h3{
    margin: 0;
    font-size: 1.5rem;
    color: var(--primary);
    font-weight:700;
    height: 5rem;
    text-align: center;
}

.services-items-bottom{
    color: var(--primary);
    font-weight: 700;
    line-height: 1.5;
    margin-top: 2rem;
}

@media screen and (max-width: 430px) {
    .services__wrapper{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }
}

/* =========== RECRUIT SECTION =========== */
.recruit{
    padding: 1rem 0;
    background-color: var(--primary);
}

.recruit-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.recruit-text h3{
    font-size: 4rem;
    color: var(--light);
    margin-bottom: 2rem;
}

.recruit-text p{
    font-size: 1.4rem;
    color: var(--light);
    opacity: 70%;
}

.recruit-btn{
    margin-top: 3rem;
}

@media screen and (max-width: 430px) {
    .recruit-wrapper{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    
    .recruit-text h3{
        font-size: 3rem;
        text-align: center;
        color: var(--light);
        margin-bottom: 2rem;
    }
    
    .recruit-text p{
        font-size: 1.2rem;
        text-align: center;
    }
    
    .recruit-btn{
        display: flex;
        justify-content: center;
    }

    .recruit-img{
        display: flex;
        justify-content: center;
        align-self: center;
    }

    .recruit-img img{
        width: 23rem;
    }

}


/* =========== CLIENTS SECTION =========== */
.dmw{
    padding: 3rem;
    background-color: var(--light);
}

.dmw-wrapper{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.dwm-1{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 4rem;
}

.dwm-1-article h3{
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary);
    margin-top: 0;
    margin-bottom: 2rem;
}

.dwm-1-article-text p{
    font-size: 1.2rem;
    color: var(--dark);
    text-align: justify;
    line-height: 1.5;
}

.dwm-1-article-text p:nth-child(2){
    margin: 2rem 0;
}

.dwm-1-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.dwm-1-photo-left img{
    width: 25rem;
}

.dwm-1-photo-right-top img{
    width: 17.5rem;
}

.dwm-1-photo-right-bot img{
    width: 17.5rem;
}

.dwm-1-photo-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.dwm-2{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 4rem;
}

.dwm-2-photo img{
    width: 50rem;
}

.dwm-2-article p{
    font-size: 1.2rem;
    color: var(--dark);
    text-align: justify;
    line-height: 1.5;
}

.dwm-2-article p:nth-child(2){
    margin: 2rem 0;
}

.dwm-3-article h3{
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary);
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.dwm-3-article-text{
    font-size: 1.2rem;
    color: var(--dark);
    text-align: justify;
    line-height: 1.5;
}

.dwm-3-article p:nth-child(2){
    margin: 2rem 0;
}

.dwm-3-photo{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 3rem;
    margin-top: 5rem;
}


/* =========== TEAM SECTION =========== */
.team{
    padding: 3rem 0;
    background-color: var(--light);
}

.team-title{
    font-size: 5rem;
    color: var(--accent);
    text-align: center;
    font-weight: 700;
}

.team-top{
    background-image: url('./img/team-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    height: 30rem;
}

.team-top h3{
    font-size: 3rem;
    color: var(--accent);
    text-align: center;
    margin-bottom: 0;
    padding-top: 10rem;
}

.team-top h4{
    font-size: 1.9rem;
    color: var(--primary);
    text-align: center;
    margin-top: .5rem;
}

.team-top p{
    font-size: 1.2rem;
    color: var(--dark);
    text-align: center;
    margin-top: .5rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}

.team-down{
    position: relative;
}

.team-down-bg-1 img{
    position: absolute;
    right: 0;
    bottom: 3rem;
    width: 10rem;
}

.team-down-bg-2 img{
    position: absolute;
    left: 0;
    bottom: 1rem;
    width: 12rem;
}

.team-down-contents{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 5rem;
}

.team-card{
    padding: 2rem;
    background-color: var(--light);
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 35rem;
    
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 2rem;
}

.team-card-img img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 3px solid var(--primary);
    object-fit: cover;
}

.team-card-text h4{
    font-size: 2rem;
    color: var(--primary);
    margin-top: 0;
    margin-bottom: .5rem;
}

.team-card-text h5{
    font-size: 1.4rem;
    color: var(--primary);
    margin-top: 0;
    margin-bottom: 1rem;
    opacity: 70%;
}

.team-card-text p{
    font-size: 1rem;
    color: var(--dark);
    line-height: 1.5;
    text-align: justify;
}












/* =========== CONTACT FORM SECTION =========== */
.contact{
    padding: 3rem 0;
    background-image: url('./img/contact form bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contact__wrapper{
    display: flex;
    justify-content: center;
}

.contact_left{
    background-color: var(--dark);
    padding: 1.5rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_left_text{
    color: var(--light);
    margin-bottom: 1.5rem;
}

.contact_left_text h2{
    font-size: 2rem;
    margin: 0 0 1.5rem 0;
}

.contact_left_text p{
    margin: 0 0 .5rem 0;
}

.textfield{
    margin-bottom: 1rem;
}

.textfield label{
    color: var(--light);
    font-weight: 600;
    font-size: .9rem;
}

.textfield input{
    width: 30rem;
    border-radius: 5px;
    padding: .5rem .5rem .5rem 1.5rem;
}

.textfield textarea{
    border-radius: 5px;
    padding: .5rem .5rem .5rem 1.5rem;
    width: 30rem;
}

::placeholder{
    color: var(--primary)
}

.box input{
    height: 1.5rem;
}

.contact_left_btn{
    margin-top: 2rem;
}

.contact_right{
    background-color: var(--light);
    padding: 1.5rem;
    width: 30%;
}

.contact_right_text{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.contact_right_details{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.contact_right_details_contents_icon{
    background-color: var(--dark);
    padding: .1rem .6rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.contact_right_details_contents_icon img{
    width: 2.5rem;
}

.contact_right_details_contents_text h4, p{
    margin: 0;
}

@media screen and (max-width: 430px) {
    .contact__wrapper{
        display: flex;
        flex-direction: column;
    }

    .contact_left{
        padding: 1.5rem;
        width: 85%;
    }
    
    .contact_left_text{
        text-align: center;
    }
    
    .textfield{
        margin-bottom: 1rem;
    }
    
    .textfield input{
        width: 20rem;
    }
    
    .textfield textarea{
        width: 20rem;
    }
    
    .contact_right{
        background-color: var(--light);
        padding: 1.5rem;
        width: 85%;
    }
    
    .contact_right_text{
        text-align: center;
    }

}

/* =========== FOOTER SECTION =========== */
.footer{
    background-color: var(--primary);
}

.footer__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_text{
    color: var(--light);
    font-size: .9rem;
    font-weight: 600;
}

.footer_socials{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer_socials li a{
    color: var(--light);
}

.footer_socials li a:hover{
    color: var(--accent);
}

@media screen and (max-width: 430px) {
    .footer__wrapper{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .footer_text{
        text-align: center;;
    }
}